/* styles.css */
body {
   font-family: 'Arial', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #222222d1;
 }
 
 header, h1 {
   background-color: #333;
   color: #fff;
   padding: 0.25rem;
   text-align: center;
   cursor: pointer; 
   margin-bottom: 0.5rem;
 }
 
 h1{
   margin: 0.5rem;
 }
 .link {
   text-decoration: none;
 }
 
 button {
   background-color: #222222d1;
   color: #fff;
   border: 3px solid #5c5c5ca1;
   padding: 0.5rem 1rem;
   margin: 0.5rem;
   cursor: pointer;
 }
 
 button:hover {
   background-color: #0056b3;
 }
 

 .button-container {
  
   display: flex;
   flex-direction: column; /* Вирівнювання по вертикалі */
   align-items: center; /* Вирівнювання по горизонталі */
   justify-content: center; /* Вирівнювання по вертикалі */
   height: 70vh; /* Висота контейнера на весь екран */
 }
 
 /* Стилі для кнопок */
 .button-container button {
   width: 350px;
   height: 100px; 
   background-color: #333;
   color: #fff;
   border: 4px solid #5c5c5ca1;
   padding: 0.5rem 1rem;
   margin: 0.5rem;
   cursor: pointer;
   font-size: 18px; 
 }
 
 .button-container button:hover {
   background-color: #0056b3;
 }

 .sensor-category-container {
   max-width: 1240px; /* Максимальна ширина графіків */
   max-height: 600px;
   margin: 0 auto; /* Автоматичний відступ зліва і справа для центрування */
   padding: 20px; /* Додатковий відступ для кращого вигляду */
 }

 .custom-date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.custom-date-picker label {
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.custom-date-picker .custom-select {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px;
}
